{{ include('PaulMaxwellBlogBundle:Default:_sidebar_articles.html.twig', {
    'articles': last,
    'title': 'paul_maxwell_blog.sidebar.last_articles'|trans
}) }}
{{ include('PaulMaxwellBlogBundle:Default:_sidebar_articles.html.twig', {
    'articles': popular,
    'title': 'paul_maxwell_blog.sidebar.popular_articles'|trans
}) }}
<div class="panel panel-default">
    <div class="panel-heading">{{ 'paul_maxwell_blog.sidebar.last_gb_messages'|trans }}</div>
    <div class="panel-body">
        <ul>
            {% for post in gb_posts %}
            <li>
                {{ post.messageBody|bbcode|raw|striptags|slice(0,50) }}...
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% if tags %}
<div class="panel panel-default">
    <div class="panel-heading">{{ 'paul_maxwell_blog.sidebar.tags'|trans }}</div>
    <div class="panel-body">
        <ul class="list-inline">
            {% for tag in tags %}
            <li style="font-size: {{ tag.timesUsed|tag_weight_percent(tag_max_weight) }}%">
                <a href="{{ url('paul_maxwell_blog_tag', {'tag_id': tag.id}) }}">{{ tag.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
